<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>系统参数 - autMan后台管理系统</title>
	<link rel="icon" href="favicon.ico" type="image/ico">
	<meta name="keywords" content="autMan,后台管理系统">
	<meta name="description" content="autMan后台管理系统">
	<meta name="author" content="autMan">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/materialdesignicons.min.css" rel="stylesheet">
	<link href="css/style.min.css" rel="stylesheet">
</head>

<body>
	<div class="container-fluid p-t-15">

		<div class="row">
			<div class="col-lg-12">
				<!--card-->
				<div class="card">
					<ul class="nav nav-tabs page-tabs">
						<li> <a href="aut_config_pages_system.html">基本</a> </li>
						<li> <a href="aut_config_pages_update.html">更新</a> </li>
						<li> <a href="aut_config_pages_aut.html">AUT云账号</a> </li>
						<li class="active"> <a href="#!">管理员</a> </li>
						<li> <a href="aut_config_pages_notify.html">通知</a> </li>
						<li> <a href="aut_config_pages_qq.html">QQ框架</a> </li>
						<li> <a href="aut_config_pages_qqbot.html">QQBOT</a> </li>
						<li> <a href="aut_config_pages_wx.html">WX框架</a> </li>
						<li> <a href="aut_config_pages_wxbot.html">WXBOT</a> </li>
						<li> <a href="aut_config_pages_tg.html">TDLIB</a> </li>
						<li> <a href="aut_config_pages_tb.html">TGBOT</a> </li>
						<li> <a href="aut_config_pages_wxmp.html">公众号</a> </li>
						<li> <a href="aut_config_pages_dd.html">钉钉BOT</a> </li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active">
							<form action="#!" method="post" name="edit-form" class="edit-form">
								<div class="form-group">
									<label for="cloud-ignore_notify">忽略管理通知</label>
									<label class="lyear-switch switch-solid switch-primary">
										<input type="checkbox" checked="" name="autMan-ignore_notify"
											id="autMan-ignore_notify">
										<span></span>
									</label>
									<small class="help-block">打开后管理员将不会收到任何通知消息</small>
								</div>
								<div class="form-group">
									<label for="autMan-imtypes_notify">管理员通知类型</label>
									<input type="text" class="form-control" name="autMan-imtypes_notify"
										id="autMan-imtypes_notify" value="" placeholder="请输入通知渠道" />
									<small class="help-block">多个用英文逗号隔开，可选：qq,wx,tb,tg,serverchan,bark,dingding,qywxbot,qywxapp,igot,pushplus,gotify,pushdeer</small>
								</div>
								<div class="form-group">
									<label for="autMan-groups_notify">通知到指定群组或个人</label>
									<input type="text" class="form-control" name="autMan-groups_notify"
										id="autMan-groups_notify" value="" placeholder="请按下面说明的格式输入指定群组或个人" />
									<small class="help-block">格式：qqindiv:123,qqgroup:456,wxgroup:789,tbgroup:111,qbgroup:333</small>
								</div>
								<div class="form-group">
									<label for="qq-masters">QQ管理员</label>
									<input type="text" class="form-control" name="qq-masters" id="qq-masters" value=""
										placeholder="请输入qq管理员" />
									<small class="help-block">多账号之间用&连接</small>
								</div>
								<div class="form-group">
									<label for="qb-masters">QQ频道管理员</label>
									<input type="text" class="form-control" name="qb-masters" id="qb-masters" value=""
										placeholder="请输入qq频道管理员" />
									<small class="help-block">多账号之间用&连接</small>
								</div>
								<div class="form-group">
									<label for="wx-masters">WX框架管理员</label>
									<input type="text" class="form-control" name="wx-masters" id="wx-masters" value=""
										placeholder="请输入wx管理员" />
									<small class="help-block">多账号之间用&连接</small>
								</div>
								<div class="form-group">
									<label for="wb-masters">WXBOT管理员</label>
									<input type="text" class="form-control" name="wb-masters" id="wb-masters" value=""
										placeholder="请输入wxbot管理员" />
									<small class="help-block">多账号之间用&连接</small>
								</div>
								<div class="form-group">
									<label for="tb-masters">TB(tgbot)管理员</label>
									<input type="text" class="form-control" name="tb-masters" id="tb-masters" value=""
										placeholder="请输入tb管理员" />
									<small class="help-block">多账号之间用&连接</small>
								</div>
								<div class="form-group">
									<label for="tg-masters">TG(tdlib)管理员</label>
									<input type="text" class="form-control" name="tg-masters" id="tg-masters" value=""
										placeholder="请输入tg管理员" />
									<small class="help-block">多账号之间用&连接</small>
								</div>
								<div class="form-group">
									<label for="wxmp-masters">公众号管理员(未认证)</label>
									<input type="text" class="form-control" name="wxmp-masters" id="wxmp-masters"
										value="" placeholder="请输入wxmp管理员" />
									<small class="help-block">多账号之间用&连接</small>
								</div>
								<div class="form-group">
									<label for="wxsv-masters">公众号管理员（已认证）</label>
									<input type="text" class="form-control" name="wxsv-masters" id="wxsv-masters"
										value="" placeholder="请输入wxmp管理员" />
									<small class="help-block">多账号之间用&连接</small>
								</div>
								<div class="form-group">
									<button class="btn btn-primary" type="button" onclick="submitParams()">保存</button>
								</div>
							</form>
						</div>
					</div>

				</div>
				<!--end card-->
			</div>

		</div>

	</div>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/main.min.js"></script>
	<!--消息提示-->
	<script type="text/javascript" src="js/bootstrap-notify.min.js"></script>
	<script type="text/javascript" src="js/lightyear.js"></script>
	<script type="text/javascript" src="js/main.min.js"></script>
	<!--自定义-->
	<script type="text/javascript" src="js/fill_input.js"></script>
</body>

</html>