<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>系统参数 - autMan后台管理系统</title>
	<link rel="icon" href="favicon.ico" type="image/ico">
	<meta name="keywords" content="autMan,后台管理系统">
	<meta name="description" content="autMan后台管理系统">
	<meta name="author" content="autMan">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/materialdesignicons.min.css" rel="stylesheet">
	<link href="css/style.min.css" rel="stylesheet">
</head>

<body>
	<div class="container-fluid p-t-15">

		<div class="row">
			<div class="col-lg-12">
				<!--card-->
				<div class="card">
					<ul class="nav nav-tabs page-tabs">
						<li> <a href="aut_config_pages_system.html">基本</a> </li>
						<li class="active"> <a href="#!">更新</a> </li>
						<li> <a href="aut_config_pages_aut.html">AUT云账号</a> </li>
						<li> <a href="aut_config_pages_admins.html">管理员</a> </li>
						<li> <a href="aut_config_pages_notify.html">通知</a> </li>
						<li> <a href="aut_config_pages_qq.html">QQ框架</a> </li>
						<li> <a href="aut_config_pages_qqbot.html">QQBOT</a> </li>
						<li> <a href="aut_config_pages_wx.html">WX框架</a> </li>
						<li> <a href="aut_config_pages_wxbot.html">WXBOT</a> </li>
						<li> <a href="aut_config_pages_tg.html">TDLIB</a> </li>
						<li> <a href="aut_config_pages_tb.html">TGBOT</a> </li>
						<li> <a href="aut_config_pages_wxmp.html">公众号</a> </li>
						<li> <a href="aut_config_pages_dd.html">钉钉BOT</a> </li>

					</ul>
					<div class="tab-content">
						<div class="tab-pane active">

							<form method="post" name="edit-form" class="edit-form">
								<div class="form-group">
									<label for="autMan-authority">授权码</label>
									<textarea class="form-control" id="autMan-authority" rows="5"
										name="autMan-authority"></textarea>
									<small class="help-block text-danger">不带“set autMan authority ”这个前缀</small>
								</div>
								<div class="form-group">
									<label for="autMan-update_use_proxy">autMan版本更新代理</label>
									<label class="lyear-switch switch-solid switch-primary">
										<input type="checkbox" checked="" name="autMan-update_use_proxy"
											id="autMan-update_use_proxy">
										<span></span>
									</label>
								</div>
								<div class="form-group">
									<label for="autMan-update_proxy">自定义autMan更新代理地址</label>
									<input class="form-control" type="text" id="autMan-update_proxy"
										name="autMan-update_proxy" value="" placeholder="">
									<small class="help-block">格式：http://www.autman.cn:9999/，不设置默认使用作者内置代理</small>
								</div>
								<hr>
								<div class="form-group">
									<label for="file">选择更新包上传更新autMan</label>
									<input class="form-control" type="file" name="fileInput" id="fileInput"
										onchange="uploadFile()">
									<div id="progressBar" style="width: 0%; background-color: #00cc00; color: white;">
									</div>
									<small class="help-block">.tar.gz后缀的文件</small>
								</div>
								<div class="form-group">
									<button class="btn btn-primary" type="button" onclick="submitParams()">保存</button>
								</div>
							</form>
						</div>
					</div>

				</div>
			</div>
			<!--end card-->
		</div>

	</div>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/main.min.js"></script>
	<!--消息提示-->
	<script type="text/javascript" src="js/bootstrap-notify.min.js"></script>
	<script type="text/javascript" src="js/lightyear.js"></script>
	<script type="text/javascript" src="js/main.min.js"></script>
	<!--自定义-->
	<script type="text/javascript" src="js/fill_input.js"></script>
	<script>
		function uploadFile() {
			var fileInput = document.getElementById('fileInput');
			var progressBar = document.getElementById('progressBar');

			var file = fileInput.files[0];
			var formData = new FormData();
			formData.append('file', file);
			var xhr = new XMLHttpRequest();

			// 监听上传进度
			xhr.upload.addEventListener('progress', function (event) {
				if (event.lengthComputable) {
					var percent = (event.loaded / event.total) * 100;
					progressBar.style.width = percent + '%';
					progressBar.innerHTML = percent.toFixed(2) + '%';
				}
			});

			// 文件上传完成
			xhr.addEventListener('load', function () {
				progressBar.innerHTML = '上传完成';
				lightyear.notify('更新包上传完成，请稍候刷新浏览器', 'success', 1000, 'mdi mdi-emoticon-happy', 'top', 'center');
			});

			// 发送文件
			xhr.open('POST', '/update', true); // 替换为你的上传URL
			xhr.send(formData);
		}
	</script>
</body>

</html>