<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>系统参数 - autMan后台管理系统</title>
	<link rel="icon" href="favicon.ico" type="image/ico">
	<meta name="keywords" content="autMan,后台管理系统">
	<meta name="description" content="autMan后台管理系统">
	<meta name="author" content="autMan">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/materialdesignicons.min.css" rel="stylesheet">
	<link href="css/style.min.css" rel="stylesheet">
</head>

<body>
	<div class="container-fluid p-t-15">

		<div class="row">
			<div class="col-lg-12">
				<!--card-->
				<div class="card">
					<ul class="nav nav-tabs page-tabs">
						<li> <a href="aut_config_pages_system.html">基本</a> </li>
						<li> <a href="aut_config_pages_update.html">更新</a> </li>
						<li> <a href="aut_config_pages_aut.html">AUT云账号</a> </li>
						<li> <a href="aut_config_pages_admins.html">管理员</a> </li>
						<li class="active"> <a href="#!">通知</a> </li>
						<li> <a href="aut_config_pages_qq.html">QQ框架</a> </li>
						<li> <a href="aut_config_pages_qqbot.html">QQBOT</a> </li>
						<li> <a href="aut_config_pages_wx.html">WX框架</a> </li>
						<li> <a href="aut_config_pages_wxbot.html">WXBOT</a> </li>
						<li> <a href="aut_config_pages_tg.html">TDLIB</a> </li>
						<li> <a href="aut_config_pages_tb.html">TGBOT</a> </li>
						<li> <a href="aut_config_pages_wxmp.html">公众号</a> </li>
						<li> <a href="aut_config_pages_dd.html">钉钉BOT</a> </li>

					</ul>
					<div class="tab-content">
						<div class="tab-pane active">

							<form>
								<div class="form-group">
									<label for="push-serverchan_pushkey">Server酱pushkey</label>
									<input type="text" class="form-control" name="push-serverchan_pushkey"
										id="push-serverchan_pushkey" value="" placeholder="" />
									<small class="help-block">填写 SCHKEY 值或 SendKey 值，文档：<a
											href="https://sct.ftqq.com">https://sct.ftqq.com</a></small>
								</div>
								<hr>

								<div class="form-group">
									<label for="push-bark_key">Bark key</label>
									<input type="text" class="form-control" name="push-bark_key" id="push-bark_key"
										value="" placeholder="" />
									<small class="help-block">填写app提供的设备码，例如：https://api.day.app/123
										那么此处的设备码就是123</small>
								</div>
								<hr>
								<div class="form-group">
									<label for="push-dingding_webhook">钉钉webhook</label>
									<input type="text" class="form-control" name="push-dingding_webhook"
										id="push-dingding_webhook" value="" placeholder="" />
									<small class="help-block"></small>
								</div>
								<div class="form-group">
									<label for="push-dingding_secret">钉钉secret</label>
									<input type="text" class="form-control" name="push-dingding_secret"
										id="push-dingding_secret" value="" placeholder="" />
									<small class="help-block">填写token后面的内容，只需
										https://oapi.dingtalk.com/robot/send?access_token=XXX 等于=符号后面的XXX即可。官方文档：<a
											href="https://developers.dingtalk.com/document/app/custom-robot-access">https://developers.dingtalk.com/document/app/custom-robot-access</a></small>
								</div>
								<hr>
								<div class="form-group">
									<label for="push-qywx_webhook">企信机器人webhook</label>
									<input type="text" class="form-control" name="push-qywx_webhook"
										id="push-qywx_webhook" value="" placeholder="" />
									<small class="help-block">填写密钥，企业微信推送webhook 后面的 key，官方文档：<a
											href="https://work.weixin.qq.com/api/doc/90000/90136/91770">https://work.weixin.qq.com/api/doc/90000/90136/91770</a></small>
								</div>
								<hr>
								<div class="form-group">
									<label for="push-qywx_app_corpid">企信应用企业ID</label>
									<input type="text" class="form-control" name="push-qywx_app_corpid"
										id="push-qywx_app_corpid" value="" placeholder="" />
								</div>
								<div class="form-group">
									<label for="push-qywx_app_secret">企信应用Secret</label>
									<input type="text" class="form-control" name="push-qywx_app_secret"
										id="push-qywx_app_secret" value="" placeholder="" />
								</div>
								<div class="form-group">
									<label for="push-qywx_app_agentid">企信应用AgentID</label>
									<input type="text" class="form-control" name="push-qywx_app_agentid"
										id="push-qywx_app_agentid" value="" placeholder="" />
									<small class="help-block">参考文档：<a
											href="http://note.youdao.com/s/HMiudGkb">http://note.youdao.com/s/HMiudGkb</a></small>
								</div>
								<hr>
								<div class="form-group">
									<label for="push-igot_key">iGot key</label>
									<input type="text" class="form-control" name="push-igot_key" id="push-igot_key"
										value="" placeholder="" />
									<small class="help-block">参考文档：<a
											href="https://wahao.github.io/Bark-MP-helper">https://wahao.github.io/Bark-MP-helper</a></small>
								</div>
								<hr>
								<div class="form-group">
									<label for="push-pushplus_token">PushPlus token</label>
									<input type="text" class="form-control" name="push-pushplus_token"
										id="push-pushplus_token" value="" placeholder="" />
									<small class="help-block">官方网站：<a
											href="http://www.pushplus.plus">http://www.pushplus.plus</a></small>
								</div>
								<hr>
								<div class="form-group">
									<label for="push-gotify_url">Gotify URL</label>
									<input type="text" class="form-control" name="push-gotify_url" id="push-gotify_url"
										value="" placeholder="" />
									<small class="help-block">填写gotify地址,如https://push.example.de:8080</small>
								</div>
								<div class="form-group">
									<label for="push-gotify_token">Gotify token</label>
									<input type="text" class="form-control" name="push-gotify_token"
										id="push-gotify_token" value="" placeholder="" />
									<small class="help-block">填写gotify的消息应用token</small>
								</div>
								<div class="form-group">
									<label for="push-gotify_priority">Gotify priority</label>
									<input type="text" class="form-control" name="push-gotify_priority"
										id="push-gotify_priority" value="" placeholder="" />
									<small class="help-block">填写推送消息优先级,默认为0</small>
								</div>
								<hr>
								<div class="form-group">
									<label for="push-pushdeer_url">PushDeer URL</label>
									<input type="text" class="form-control" name="push-pushdeer_url"
										id="push-pushdeer_url" value="" placeholder="" />
								</div>
								<div class="form-group">
									<label for="push-pushdeer_key">PushDeer key</label>
									<input type="text" class="form-control" name="push-pushdeer_key"
										id="push-pushdeer_key" value="" placeholder="" />
									<small class="help-block">PushDeer</small>
								</div>
								<div class="form-group">
									<button class="btn btn-primary" type="button" onclick="submitParams()">保存</button>
								</div>
							</form>
						</div>
					</div>

				</div>
				<!--end card-->
			</div>

		</div>

	</div>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/main.min.js"></script>
	<!--消息提示-->
	<script type="text/javascript" src="js/bootstrap-notify.min.js"></script>
	<script type="text/javascript" src="js/lightyear.js"></script>
	<script type="text/javascript" src="js/main.min.js"></script>
	<!--自定义-->
	<script type="text/javascript" src="js/fill_input.js"></script>
</body>

</html>