<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>首页 - autMan后台管理系统</title>
  <link rel="icon" href="favicon.ico" type="image/ico">
  <meta name="keywords" content="autMan,后台管理系统">
  <meta name="description" content="autMan后台管理系统">
  <meta name="author" content="autMan">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/materialdesignicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="js/bootstrap-multitabs/multitabs.min.css">
  <link href="css/style.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <!--对话框-->
  <link rel="stylesheet" href="js/jconfirm/jquery-confirm.min.css">
  <!--autman-->
  <link rel="stylesheet" href="css/autman.css">
  <style>
    tbody tr {
      cursor: move;
    }

    .table-container {
      overflow-y: scroll;
    }

    .table thead th {
      position: sticky;
      top: 0;
      background-color: #fff;
      z-index: 1;
    }
  </style>
</head>

<body>
  <div class="container-fluid p-t-15">
    <div class="row">
      <div class="col-lg-12">
        <div class="card m-b-0 p-b-0">
          <div class="card-toolbar clearfix">

            <!--搜索框-->
            <form class="pull-right search-bar">
              <div class="input-group">
                <div class="input-group-btn">
                  <input type="hidden" name="search_field" id="search-field" value="title">
                  <button class="btn btn-default dropdown-toggle" id="search-btn" data-toggle="dropdown" type="button"
                    aria-haspopup="true" aria-expanded="false">
                    全搜索 <span class="caret"></span>
                  </button>
                  <!-- <ul class="dropdown-menu">
                    <li> <a tabindex="-1" href="javascript:void(0)" data-field="title">标题</a> </li>
                    <li> <a tabindex="-1" href="javascript:void(0)" data-field="cat_name">栏目</a> </li>
                  </ul> -->
                </div>
                <input type="text" class="form-control" value="" id="searchInput" name="searchInput"
                  placeholder="请输入关键词">
              </div>
            </form>

            <!--操作按钮菜单-->
            <div class="toolbar-btn-action">
              <a id="add_rule" class="btn btn-primary m-r-5" href="#!" data-toggle="modal" data-target="#myModal"
                onclick="autClearModalForm()"><i class="mdi mdi-plus"></i> 新增</a>
              <a id="enable_rules" class="btn btn-success m-r-5" href="#!" onclick="autEnableRows()"><i
                  class="mdi mdi-check"></i> 启用</a>
              <a id="disable_rules" class="btn btn-warning m-r-5" href="#!" onclick="autDisableRows()"><i
                  class="mdi mdi-block-helper"></i>
                禁用</a>
              <a id="delete_rules" class="btn btn-danger m-r-5" href="#!" onclick="autDelRows()"><i
                  class="mdi mdi-window-close"></i> 删除</a>
              <a id="delete_rules" class="btn btn-info m-r-5" href="#!"
                onclick="autFillRows('',function(){lightyear.notify('操作成功', 'success', 1000)})"><i
                  class="mdi mdi-rotate-3d"></i> 刷新</a>
            </div>

          </div>

          <!--内容区-->
          <div class="card-body">
            <div class="table-container">
              <table class="table table-bordered" id="drag-table">
                <thead>
                  <tr>
                    <th>
                      <label class="lyear-checkbox checkbox-primary">
                        <input type="checkbox" id="check-all"><span></span>
                      </label>
                    </th>
                    <th>序号</th>
                    <th>名称</th>
                    <th width="40%">值</th>
                    <th>备注</th>
                    <th>更新时间</th>
                    <th>状态</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody id="datasets">

                </tbody>
              </table>
            </div>

            <!--页码区-->
            <ul class="pagination">
              <li class="disabled"><span>«</span></li>
              <li class="active"><span>1</span></li>
              <li class="disabled"><span>»</span></li>
            </ul>
            <!--
            <ul class="pagination">
              <li class="disabled"><span>«</span></li>
              <li class="active"><span>1</span></li>
              <li><a href="#1">2</a></li>
              <li><a href="#1">3</a></li>
              <li><a href="#1">4</a></li>
              <li><a href="#1">5</a></li>
              <li><a href="#1">6</a></li>
              <li><a href="#1">7</a></li>
              <li><a href="#1">8</a></li>
              <li class="disabled"><span>...</span></li>
              <li><a href="#!">14452</a></li>
              <li><a href="#!">14453</a></li>
              <li><a href="#!">»</a></li>
            </ul>
          -->
          </div>
        </div>
      </div>

    </div>

    <!--模态弹出框-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">标题</h4>
          </div>
          <div class="modal-body">
            <form id="modal" class="form-horizontal" action="#!" method="post" onsubmit="return false;">
              <div class="form-group">
                <label class="col-md-3 control-label" for="id">ID</label>
                <div class="col-md-7">
                  <input class="form-control input-sm" type="text" name="id" id="id" readonly />
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label" for="name">名称</label>
                <div class="col-md-7">
                  <input class="form-control input-sm" type="text" name="name" id="name" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-3 control-label" for="value">值</label>
                <div class="col-md-7">
                  <textarea class="form-control input-sm" type="text" name="value" id="value" rows="5"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label" for="remarks">备注</label>
                <div class="col-md-7">
                  <input class="form-control input-sm" type="text" name="remarks" id="remarks" value=""
                    placeholder="" />
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="autSubmitModalForm()">点击保存</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

  </div>

  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/main.min.js"></script>
  <!--消息提示-->
  <script type="text/javascript" src="js/bootstrap-notify.min.js"></script>
  <script type="text/javascript" src="js/lightyear.js"></script>
  <!--对话框-->
  <script type="text/javascript" src="js/jconfirm/jquery-confirm.min.js"></script>
  <!--自定义-->
  <script type="text/javascript" src="js/env.js"></script>
  <!--鼠标拖拽-->
  <script type="text/javascript" src="js/jquery-ui.min.js"></script>
  <script>
    // Initialize sortable
    $('tbody').sortable({
      cursor: 'move',
      opacity: 0.6,
      axis: 'y'
    });
  </script>
</body>

</html>